/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* custom template */
html, body {
    height: 100%;
    font-family:verdana,arial,sans-serif;
    color:#555555;
 }
.post {
    padding-bottom: 120px;
}

.wrapper 
{
    margin-left: 0;
    margin-right: 0;
}
wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.box {
    bottom: 200px; /* increase for footer use */
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}

.full{
    padding-top:40px;
    padding-left: 20px;
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default{
    border-color: #dddd;
}
.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-default .panel-heading {
    background-color:#f9fafb;
    color:#555555;
  }

  .content {
      padding-bottom: 10px;
  }

  .text-content{
      padding-top: 5px;
      padding-bottom: 5px;
  }